<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginUsuario</servlet-name>
        <servlet-class>Capa.Controller.LoginUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministradorController</servlet-name>
        <servlet-class>Capa.Controller.ListarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarUsuarioController</servlet-name>
        <servlet-class>Capa.Controller.ListarUsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarUsuario</servlet-name>
        <servlet-class>Capa.Controller.RegistrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarProveedor</servlet-name>
        <servlet-class>Capa.Controller.RegistrarProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProveedor</servlet-name>
        <servlet-class>Capa.Controller.ListarProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProducto</servlet-name>
        <servlet-class>Capa.Controller.ListarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarProducto</servlet-name>
        <servlet-class>Capa.Controller.RegistrarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarTransacciones</servlet-name>
        <servlet-class>Capa.Controller.ListarTransacciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarporEntradas</servlet-name>
        <servlet-class>Capa.Controller.ListarporEntradas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarporSalida</servlet-name>
        <servlet-class>Capa.Controller.ListarporSalida</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarTransaccionSalida</servlet-name>
        <servlet-class>Capa.Controller.RegistrarTransaccionSalida</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarEntradasProveedor</servlet-name>
        <servlet-class>Capa.Controller.ListarEntradasProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarSalidasDestino</servlet-name>
        <servlet-class>Capa.Controller.ListarSalidasDestino</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatosProducto</servlet-name>
        <servlet-class>Capa.Controller.DatosProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarTransaccionEntrada</servlet-name>
        <servlet-class>Capa.Controller.RegistrarTransaccionEntrada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarlosDistritos</servlet-name>
        <servlet-class>Capa.Controller.ListarlosDistritos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteEntradas</servlet-name>
        <servlet-class>Capa.Controller.ReporteEntradas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteSalidas</servlet-name>
        <servlet-class>Capa.Controller.ReporteSalidas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginUsuario</servlet-name>
        <url-pattern>/loginusuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarUsuarioController</servlet-name>
        <url-pattern>/listarUsuarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarUsuario</servlet-name>
        <url-pattern>/registrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarProveedor</servlet-name>
        <url-pattern>/registrarProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProveedor</servlet-name>
        <url-pattern>/listarProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProducto</servlet-name>
        <url-pattern>/listarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarProducto</servlet-name>
        <url-pattern>/registrarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarTransacciones</servlet-name>
        <url-pattern>/listarTransacciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarporEntradas</servlet-name>
        <url-pattern>/listarporEntradas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarporSalida</servlet-name>
        <url-pattern>/listarporSalida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarTransaccionSalida</servlet-name>
        <url-pattern>/registrarTransaccionSalida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarEntradasProveedor</servlet-name>
        <url-pattern>/listarentradasproveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarSalidasDestino</servlet-name>
        <url-pattern>/listarsalidasdestino</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatosProducto</servlet-name>
        <url-pattern>/datosproducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarTransaccionEntrada</servlet-name>
        <url-pattern>/registrartransaccionentrada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarlosDistritos</servlet-name>
        <url-pattern>/listarlosDistritos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteEntradas</servlet-name>
        <url-pattern>/reporteEntradas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteSalidas</servlet-name>
        <url-pattern>/reporteSalidas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
